@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To My Scripture Journal</h2>
    <img  class="cover-photo" src="~/images/bible.jpg" />
</div>

