@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Your Gateway to<br />Wholesome Entertainment</h1>
    <p>Providing wholesome entertainment for church members since 1990</p>
</div>
